$color-pale-blue: hsl(225, 100%, 94%);
$color-brigth-blue: hsl(245, 75%, 52%);
$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desaturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);

$card-border-radius: 2rem;

$mobile: 420px;

html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

p {
  font-size: 1.4rem;

  @media screen and (min-width: $mobile) {
    font-size: 1.6rem;
  }
}

h1 {
  font-size: 2.8rem;
  font-weight: 900;
  color: $color-dark-blue;
}
h2 {
  font-size: 1.4rem;
  font-weight: 900;
  color: $color-dark-blue;
  @media screen and (min-width: $mobile) {
    font-size: 1.6rem;
  }
}

.order {
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: $color-pale-blue;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $mobile) {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;

    @media screen and (min-width: $mobile) {
      padding: 4.8rem;
    }
  }

  &__card {
    border-radius: $card-border-radius;
    overflow: hidden;
    max-width: 45rem;
    max-height: 69.7rem;
    margin: 0px 2.4rem;
    background-color: white;
    box-shadow: 0px 4rem 4rem -2rem rgba(13, 48, 189, 0.151826);
  }

  &__image {
    width: 100%;
  }

  &__header {
    padding-bottom: 1.6rem;
    text-align: center;
  }

  &__info {
    color: $color-desaturated-blue;
    text-align: center;
    padding-bottom: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $color-very-pale-blue;
    border-radius: $card-border-radius;
    padding: 1.6rem;
    width: 100%;
    margin-bottom: 2.4rem;

    @media screen and (min-width: $mobile) {
      padding: 2.5rem;
      margin-bottom: 3.2rem;
    }

    &__icon {
      padding-right: 2rem;
    }

    &__link {
      margin-left: auto;
      color: $color-brigth-blue;
      font-size: 1.4rem;
      font-weight: 700;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__price {
      color: $color-desaturated-blue;
    }
  }

  &__button {
    border: none;
    border-radius: 1.1rem;
    padding: 1.5rem 0;
    width: 100%;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }

    &--proceed {
      margin-bottom: 1.7rem;
      background-color: $color-brigth-blue;
      color: white;
      box-shadow: 0px 2rem 2rem rgba(56, 42, 225, 0.190291);
    }

    &--cancel {
      color: $color-desaturated-blue;
      background-color: transparent;
      padding-bottom: 0;
    }
  }
}
